django
django-crispy-forms  # For better form rendering
django-environ  # For environment variable management
djangorestframework  # For APIs
django-debug-toolbar  # For debugging during development
django-extensions  # Useful extensions for Django
django-filter  # For filtering in DRF
django-allauth
Pillow  # For image processing (e.g., for receipt uploads)
whitenoise
cheroot
